# Zig build system artifacts
.zig-cache/
zig-out/
zig-pkg/
# Miscellaneous files
/misc/
# Tern DB artifacts
store.db-shm
store.db-wal
# LaTeX artifacts (keep .pdf)
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
